/* Navbar */
@import "../navbar.css";
@import url("../navbar.css"); 

/* Sidebar */
@import "../sidebar.css";
@import url("../sidebar.css"); 

/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background:url(../Imagini/modifyman.jpg);
  color: #fff;
}

a{
   color: #7f8db0;
}

 


