body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-color: #6a6c6f;
    /*text-align: center;*/
    font-weight: bold;
    position: relative;
}

.register_div{
    height: 450px;
    width: 300px;
    background-color: white;
    text-align: center;
    font-size: small;
    color: grey;

    position: absolute;
    left: 40%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(40%);
    border: thin;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

#register_div.fname{
    width: 250px;
    padding-bottom: 20px;
}

#submit_btn{
    color: #fff;
    background-color: #03a9f4;
    border: 0;
    width: 150px;
    height: 40px;
}